:root {
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-grayish-blue: #9194a1;
  --color-very-dark-blue: #252b46;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 900px;
  --tablet-width: 600px;
  --timing-animation: 0.2s;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
}

/* End CSS Reset */
// Global Styles start
.container {
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 var(--default-padding);
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-padding) * 4);
}
// Global Styles End
// Header Start
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--default-padding);
}
.logoContent {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 500;
  &__logo {
    width: 4rem;
    max-width: 100%;
  }
}
.links {
  display: flex;
  align-items: center;
  gap: var(--default-padding);
  &__link {
    color: var(--color-very-dark-blue);
    transition: color var(--timing-animation) ease-in-out;
    &:hover {
      color: var(--color-soft-red);
    }
  }
}

// Header End
.section {
  display: flex;
  align-items: center;
  gap: calc(var(--default-padding) * 2);

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &:nth-of-type(1) &__title {
    font-size: 4.2rem;
  }
  &__description {
    font-size: 1.4rem;
    color: var(--color-grayish-blue);
  }
  &__buttons {
    display: flex;
    gap: var(--default-padding);
    margin-top: var(--default-padding);
  }
  &__imageContent {
    display: flex;
    flex: 1;
  }
  &__image {
    max-width: 100%;
  }
}
.button {
  background-color: var(--color-soft-blue);
  color: var(--color-off-white);
  padding: 1.2rem 2.4rem;
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
  border-radius: var(--default-radius);
  transition: background-color var(--timing-animation) ease-in-out;
  &--secondary {
    background-color: var(--color-off-white);
    color: var(--color-very-dark-blue);
  }
  &:hover {
    background-color: var(--color-soft-red);
  }
}
